[Desktop Entry]
Type=Application
Name=Omastrator
GenericName=Vector Illustration
Comment=Vector illustration for Linux, made for Omarchy
Exec=omastrator %F
Icon=io.github.iretonsean.Omastrator
Terminal=false
Categories=Graphics;VectorGraphics;
MimeType=application/x-omastrator;image/svg+xml;
StartupWMClass=Omastrator
Actions=Desk;Design;

[Desktop Action Desk]
Name=The Desk
Exec=omastrator desk window

[Desktop Action Design]
Name=Design Mode
Exec=omastrator design on
